.banner{
    display: flex;
    position: relative;
    width: 100%;
    margin: auto;
    height: 100%;
    top: 0;
    left: 0;
    /* border: 1px solid red; */
}
.banner img{
    width: 100%;
    margin: auto;
    vertical-align: middle;
}
.banner .title{
    width: 25vw;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
    z-index: 1;
    line-height: 1.5;
    /* border: 1px solid red; */
}
/* ---麵包屑--- */
.path-wrap{
    padding: 10px 0;
    margin: 10px 10px ;
    /* border: 1px solid red; */
}
.path{
    width: 90%;
    margin: auto;
    display: flex;
    /* margin-bottom: 10px; */
}
.path li{
    padding: 0 20px;
}
.path a{
    text-decoration: none;
    color: #acacac;
}
.path a:hover{
    color: #85BDCE;
}
.path li + li{
    padding-left: 0;
}
.path li + li :before{
    content: '>';
    color: #acacac;
    margin-right: 20px;
}
.wrap{
    max-width: 1200px;
    margin: auto;
}
.title h5{
    width: 400px;
    font-size: 20px;
    padding: 40px 0 15px;
    margin-bottom: 40px;
    border-bottom: 1px solid #777676;
}
.text p{
    font-size: 16px;
    line-height: 2;
    margin: 40px 0 ;
}
.pic-low img{
    margin: 40px 10px;
    width: 48%;
}
@media screen and (max-width:767px) {
    .banner{
        top: 40px;
    }
    .banner h4{
        opacity: 0;
    }
    .banner span{
        opacity: 0;
    }
    .about .wrap{
        max-width: 1200px;
        margin: auto;
    }
    .path-wrap{
        padding: 20px 0;
        margin: 30px 10px ;
    }    
    .wrap{
        max-width: 1200px;
        margin: auto;
    }
    .title h5{
        width: 300px;
        font-size: 18px;
        padding: 40px 0 15px;
        margin-left: 20px;
        margin-bottom: 40px;
        /* border-bottom: 1px solid #777676; */
    }
    .pic img{
        width: 90%;
        margin: auto;
        margin-left: 20px;
        /* margin-right: 10px; */
    }
    .text p{
        font-size: 16px;
        line-height: 2;
        margin: 40px 20px ;
    }
    .pic-low img{
        margin: 20px 10px;
        width: 90%;
        margin-left: 20px;
    }
}